page-home {
  ion-col {
    border: 0px #000000 solid;
    text-align: center;
  }

  .header {
    border: 1px #ffffff solid;
    background: #cdcdcd;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
}
